/* Eric Meyer's CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* End of Eric Meyer's CSS Reset */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

body {
    font: 12px/18px Arial, sans-serif;
    background: #e6ecf7;

}

.wrapper {
    min-width: 300px;
    max-width: 1300px;
    margin: 0 auto;


}

a {
    text-decoration: none;
    color: #000;
}


h1 {
    text-align: center;
    line-height: 1.75em;
    font-size: 4em;
    color: #6A6C71;
    margin-left: 0.3em;


}

h4 {

    text-align: center;
    line-height: 1.75em;
    font-size: 4em;
    color: #6A6C71;


}

h3 {

    text-align: center;
    line-height: 1.75em;
    font-size: 2em;
    color: #6A6C71;


}

h2 {
    line-height: 1.75em;
    font-size: 3em;
    color: #6A6C71;


}

p {
    font-size: 1.5em;
    line-height: 1.75em;
    z-index: 99;
}

h5 {
    line-height: 1.75em;
    font-size: 2em;
    color: #6A6C71;
}

article {
    margin: 1em;

}

strong {
    font-weight: bold;
}

* {
    font-family: itc-avant-garde-gothic-pro, sans-serif;
}
h7{
    font-size: 2em;
    line-height: 12.75em;
    text-align: center;
    margin: 1em;
}
/* Header
-----------------------------------------------------------------------------*/

.header {
    height: 5.8em;
    background: #fff;
    box-shadow: 5px 5px 10px #999;
    z-index: 99;

}

/* nav*/
.navigation a {
    text-align: center;
    vertical-align: middle;
    line-height: 1.75em;
}

.navigation2 a {
    text-align: center;
    vertical-align: middle;
    line-height: 1.75em;
}

.nav-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: #1f2227;
    opacity: 0;
    transition: all 0.2s ease;
}

.nav-container ul {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.nav-container ul li {
    display: block;
    float: none;
    width: 100%;
    text-align: center;
    margin-bottom: 50px;

}

.nav-container ul li:nth-child(1) a {
    transition-delay: 0.2s;
}

.nav-container ul li:nth-child(2) a {
    transition-delay: 0.3s;
}

.nav-container ul li:nth-child(3) a {
    transition-delay: 0.4s;
}

.nav-container ul li:nth-child(4) a {
    transition-delay: 0.5s;
}

.nav-container ul li:not(:first-child) {
    margin-left: 0;
}

.nav-container ul li a {
    padding: 10px 25px;
    opacity: 0;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    transform: translateY(-20px);
    transition: all 0.2s ease;

}

.nav-open {
    margin: 1em;
    position: absolute;
    right: 1em;

    display: block;
    width: 2em;
    cursor: pointer;
    z-index: 9999;
    border-radius: 50%;
}

.nav-open i {
    display: block;
    width: 40px;
    height: 5px;
    border-radius: 2px;
    background: grey;
    padding: 0.1em;
}

.nav-open i:nth-child(1) {
    margin-top: 16px;
}

.nav-open i:nth-child(2) {
    margin-top: 4px;
    opacity: 1;
}

.nav-open i:nth-child(3) {
    margin-top: 4px;
}


#nav:checked + .nav-open {
    transform: rotate(45deg);
}

#nav:checked + .nav-open i {
    background: #fff;
    transition: transform 0.2s ease;
}

#nav:checked + .nav-open i:nth-child(1) {
    transform: translateY(6px) rotate(180deg);
}

#nav:checked + .nav-open i:nth-child(2) {
    opacity: 0;
}

#nav:checked + .nav-open i:nth-child(3) {
    transform: translateY(-6px) rotate(90deg);
}

#nav:checked ~ .nav-container {
    z-index: 9990;
    opacity: 1;
}

#nav:checked ~ .nav-container ul li a {
    opacity: 1;
    transform: translateY(0);
}

.hidden {
    display: none;
}

.navigation2 {
    display: none;
    font-size: 0;
}

.logo1 {
    float: left;
    padding: 1em;
    width: 70%;
    height: 3.7em;
    display: block;
    background: #fff;
    text-align: center;

    text-decoration: none;

}

@media only screen and (min-width : 1000px) {

    .navigation {
        display: none;
    }

    .navigation2 {
        display: inline;
        font-size: 2em;
        z-index: 99;


    }

    .navigation2 li {
        float: right;
        width: 25%;
        height: auto;


    }

    .navigation2 ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background: grey;

    }


    .navigation2 li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        height: 1.75em;



    }

    .navigation2 li a:hover {
        background-color: #fff;
        color: black;
    }

    .header {
        background: #6A6C71;
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
        box-shadow: 5px 5px 10px #999;

    }
    h7{
    font-size: 6em;
    line-height: 12.75em;
    text-align: center;
    margin: 1em;
}


    /*.about{
        border-style: solid;
        border-left-width: 0.1em;
    }*/
    .logo1 {
        display: none;
    }

    .logo {
        float: right;
        width: 15em;
        height: auto;

        background: #fff;

        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        height: 1.75em;

    }

    .logo:hover {
        background-color: #586c8c;
    }



}

/* Middle
-----------------------------------------------------------------------------*/
.content {
    background: #fff;

}

.gif {
    position: relative;
    width: 100%;
    height: auto;
}

.flex-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    align-items: flex-start;
}

.flex-container-front-page {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    align-items: flex-start;
}

.flex-container p {
    padding-top: 0.3em;
    font-size: 0.6em;
}

.flex-container div {

    margin: 10px;
    padding: 5px;
    font-size: 30px;
    width: 8em;
    height: auto;

}

.flex-container-front-page div {

    margin: 10px;
    padding: 5px;
    height: auto;

}

.flex-container-front-page img {

    width: 100%;

}

.box {
    display: flex;
    flex-wrap: wrap;
}

.collections {}

.flex-container img {

    width: 100%;

}

.flex-container img {

    width: 100%;

}

.product {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


.table {
    width: 95%;
    margin-right: 1em;
    text-align: center;
}

.slider {
    width: 300px;
    text-align: center;
    margin: 0 auto;
    word-wrap: break-word;
}

.sliderfmp {
    width: 300px;
    text-align: center;
    margin: 0 auto;
}

.slides {
    display: flex;
    overflow-x: hidden;
    word-wrap: break-word;
    border-radius: 5px;

}

.slides::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.slides::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
}

.slides::-webkit-scrollbar-track {
    background: transparent;
}

.slides > div {
    flex-shrink: 0;
    width: 300px;
    height: 700px;
    border-radius: 10px;
    z-index: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;


}

.slides img {
    width: 80px;
    position: absolute;
    padding-right: 1em;
    top: 0;
    left: 0;

}

.slide-img-feed {
    position: absolute;
    width: 300px;
    height: 200px;
    top: 0;
    background: #22A636;



}

.slide-img-move {
    position: absolute;
    width: 300px;
    height: 200px;
    top: 0;
    background: #1F63B0;



}

.slide-img-play {
    position: absolute;
    width: 300px;
    height: 200px;
    top: 0;
    background: #D41768;



}



.slider > a {
    display: inline-flex;
    width: 4em;
    height: 4em;
    background: grey;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 0 0.5rem 0;
    position: relative;
    font-size: 2em;
}

.slider > a:active {
    top: 1px;
}

.slider > a:focus {
    background: #000;
}

.sliderfmp > a {
    display: inline-flex;
    width: 4em;
    height: 4em;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 0 0.5rem 0;
    position: relative;
    font-size: 2em;
}

.sliderfmp > a:focus {
    background: #000;
    color: aliceblue;
}

.feed {
    width: 30%;
    text-align: center;
    margin: auto;
    color: #22A636;
    font-size: 3em;
}

.move {
    width: 30%;
    text-align: center;
    margin: auto;
    color: #1F63B0;
    font-size: 3em;
}

.play {
    text-align: center;
    width: 30%;
    margin: auto;
    color: #D41768;
    font-size: 3em;
}

.fmp {
    width: 100%;
    display: flex;
    justify-content: center;
    line-height: 4em;
}

.slide-move {
    background: #1F63B0;
}

.slide-feed {
    background: #22A636;
}

.slide-play {
    background: #D41768;
}

@media only screen and (min-width : 1000px) {
    .slides img {
        width: 20%;


    }

    .slides > div {
        height: 800px;
    }

    .slidefmp-1 {
        height: 80%;
    }

    .feed {
        margin: 1em;
        width: 3em;
    }

    .move {
        margin: 1em;
        width: 3em;
    }

    .play {
        margin: 1em;
        width: 3em;
    }

    .flex-container div {
        width: 10em;
        padding: 2em;
        margin-left: 2em;
        margin-right: 2em;

    }

    .flex-container-front-page div {

        width: 48%;
        margin: 0;
        padding: 1%;


    }

    .flex-container-front-page img {

        width: 100%;


    }

    .product {
        position: absolute;
        margin-left: 2em;
        margin-right: 0;
        width: 30em;
    }

    .table {
        width: 90%;
        margin-right: 7em;
        text-align: right;
        margin-bottom: 3em;
    }

    h3 {
        text-align: right;
        margin-right: 10em;
    }

    .slider {
        width: 1000px;
    }

    .sliderfmp {
        width: 1000px;
    }

    .slides > div {
        width: 1000px;

    }

    .slide-img-move {
        width: 1000px;
    }

    .slide-img-play {
        width: 1000px;
    }

    .slide-img-feed {
        width: 1000px;
    }
}




/* Footer
-----------------------------------------------------------------------------*/
.footer {
    position: absolute;
    width: 100%;
    height: 100px;
    background: #6A6C71;
}